# Homework

In [16]:
import graphlab

In [23]:
people = graphlab.SFrame('people_wiki.gl/')
people['word_count'] = graphlab.text_analytics.count_words(people['text'])

tfidf = graphlab.text_analytics.tf_idf(people['word_count'])

# Earlier versions of GraphLab Create returned an SFrame rather than a single SArray
# This notebook was created using Graphlab Create version 1.7.1
if graphlab.version <= '1.6.1':
    tfidf = tfidf['docs']
    
people['tfidf'] = tfidf

elton_john = people[people['name'] == 'Elton John']

**1. Compare top words according to word counts to TF-IDF:** In the notebook we covered in the module, we explored two document representations: word counts and `TF-IDF`. Now, take a particular famous person, 'Elton John'. What are the 3 words in his articles with highest word counts? What are the 3 words in his articles with highest `TF-IDF`? These results illustrate why `TF-IDF` is useful for finding important words.

In [32]:
elton_john_word_count = elton_john[['word_count']]
elton_john_word_count.stack('word_count', new_column_name = ['word','count']).sort('count', ascending=False)[0:3]

Columns:
	word	str
	count	int

Rows: 3

Data:
+------+-------+
| word | count |
+------+-------+
| the  |   27  |
|  in  |   18  |
| and  |   15  |
+------+-------+
[3 rows x 2 columns]

In [31]:
elton_john_tfidf = elton_john[['tfidf']]
elton_john_tfidf.stack('tfidf', new_column_name=['word','tfidf']).sort('tfidf', ascending=False)[0:3]

Columns:
	word	str
	tfidf	float

Rows: 3

Data:
+-----------+---------------+
|    word   |     tfidf     |
+-----------+---------------+
|  furnish  |  18.38947184  |
|   elton   |  17.48232027  |
| billboard | 17.3036809575 |
+-----------+---------------+
[3 rows x 2 columns]

**2. Measuring distance:** Elton John is a famous singer; let’s compute the distance between his article and those of two other famous singers. In this assignment, you will use the [cosine distance](https://turi.com/products/create/docs/generated/graphlab.toolkits.distances.cosine.html), which one measure of similarity between vectors, similar to the one discussed in the lectures. You can compute this distance using the `graphlab.distances.cosine` function. What’s the cosine distance between the articles on ‘Elton John’ and ‘Victoria Beckham’? What’s the cosine distance between the articles on ‘Elton John’ and Paul McCartney’? Which one of the two is closest to Elton John? Does this result make sense to you?

In [33]:
victoria_beckham = people[people['name'] == 'Victoria Beckham']
paul_mccartney = people[people['name'] == 'Paul McCartney']

In [34]:
graphlab.distances.cosine(elton_john['tfidf'][0], victoria_beckham['tfidf'][0])

0.9567006376655429

In [35]:
graphlab.distances.cosine(elton_john['tfidf'][0], paul_mccartney['tfidf'][0])

0.8250310029221779

**3. Building nearest neighbors models with different input features and setting the distance metric:** In the sample notebook, we built a nearest neighbors model for retrieving articles using `TF-IDF` as features and using the default setting in the construction of the nearest neighbors model. Now, you will build two nearest neighbors models:

* Using word counts as features
* Using `TF-IDF` as features

In both of these models, we are going to set the distance function to cosine similarity. Here is how: when you call the function `graphlab.nearest_neighbors.create` add the parameter `distance='cosine'`

In [40]:
knn_model_word_count = graphlab.nearest_neighbors.create(people, 
                                                         features=['word_count'], 
                                                         label='name', 
                                                         distance='cosine')

knn_model_tfidf = graphlab.nearest_neighbors.create(people, 
                                                    features=['tfidf'], 
                                                    label='name', 
                                                    distance='cosine')

Starting brute force nearest neighbors model training.

Starting brute force nearest neighbors model training.

Now we are ready to use our model to retrieve documents. Use these two models to collect the following results:

* What’s the most similar article, other than itself, to the one on ‘Elton John’ using word count features?

In [41]:
knn_model_word_count.query(elton_john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 19.307ms     |

| Done         |         | 100         | 211.785ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

* What’s the most similar article, other than itself, to the one on ‘Elton John’ using TF-IDF features?

In [43]:
knn_model_tfidf.query(elton_john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 17.771ms     |

| Done         |         | 100         | 280.135ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |    Elton John    | -2.22044604925e-16 |  1   |
|      0      |   Rod Stewart    |   0.717219667893   |  2   |
|      0      |  George Michael  |   0.747600998969   |  3   |
|      0      | Sting (musician) |   0.747671954431   |  4   |
|      0      |   Phil Collins   |   0.75119324879    |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

* What’s the most similar article, other than itself, to the one on ‘Victoria Beckham’ using word count features?

In [42]:
knn_model_word_count.query(victoria_beckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 12.172ms     |

| Done         |         | 100         | 255.364ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]

* What’s the most similar article, other than itself, to the one on ‘Victoria Beckham’ using TF-IDF features?

In [44]:
knn_model_tfidf.query(victoria_beckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 14.941ms     |

| Done         |         | 100         | 261.422ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+-------------------+------+
| query_label |   reference_label   |      distance     | rank |
+-------------+---------------------+-------------------+------+
|      0      |   Victoria Beckham  | 1.11022302463e-16 |  1   |
|      0      |    David Beckham    |   0.548169610263  |  2   |
|      0      | Stephen Dow Beckham |   0.784986706828  |  3   |
|      0      |        Mel B        |   0.809585523409  |  4   |
|      0      |    Caroline Rush    |   0.819826422919  |  5   |
+-------------+---------------------+-------------------+------+
[5 rows x 4 columns]